include AUTHORS
include CHANGELOG.rst
include LICENSE
include MANIFEST.md
include pyproject.toml
include README.rst
include setup.py
include setup.cfg

recursive-include data *
include examples/beacon/*.py
include examples/beacon/config/*.ini
include examples/sounder/*.py
include examples/sounder/*.txt
include examples/sounder/waveforms/*.py
include examples/sounder/waveforms/*.bin
include examples/*.py
include include/*.h
include include/windows/*.h
include tests/*.py

# manually include data_files because setuptools doesn't do it automatically
include grc/*.xml
include grc/*.block.yml
include grc/*.tree.yml

# versioneer
include versioneer.py
include digital_rf/_version.py
